<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit user</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
        </div>
        <div class="form-add-new users">
            <fieldset>
                <legend>Edit Add new users :</legend>
                <form action="/delete-user" method="POST">

                    <div class="input-group d-nore">
                        <label for>Id</label>
                        <input type="text"
                            value="<%= dataUser.id %>" name="userId">
                    </div>

                    <div class="input-group">
                        <label for>Are you to delete this email:</label>
                        <input type="text" name="email"
                            value="<%= dataUser.email %>">
                    </div>
                    <div>
                        <button>delete</button>
                    </div>
                </form>
            </fieldset>
        </div>
    </body>
</html>